@model ViaTecnicaWEB.Models.Turno_Cabecera

@{
    ViewBag.Title = "Nuevo Turno";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <main class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white rounded shadow-sm" style="background-color:dodgerblue">
                <div class="lh-1">
                    <h1 class="h6 mb-0 text-white lh-1">Nuevo Turno</h1>
                    <small>Ingrese los siguientes datos para poder agendar un nuevo turno</small>
                </div>
            </div>

            <div class="my-3 p-3 rounded shadow-sm ">
                <h6 class="border-bottom pb-2 mb-0">Datos Personales</h6>
                <div class="row g-3" style="display: flex;flex-direction: row;justify-content: center;">
                    <div class="pt-3 col-sm-4">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" required placeholder="Nombre" />
                    </div>
                    <div class="pt-3 col-sm-3">
                        <label for="Apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="Apellido" required placeholder="Apellido" />
                    </div>
                    <div class="pt-3 col-sm-3">
                        <label for="Telefono" class="form-label">Telefono</label>
                        <input type="tel" class="form-control" id="Telefono" placeholder="2235XXXXXX">
                    </div>
                    <div class="pt-3 col-6">
                        <label for="Email" class="form-label">Email <span>(Opcional)</span></label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeHolder = "email@ejemplo.com" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Detalle del Turno</h6>
                <div class="row g-3" style="display: flex;flex-direction: row;justify-content: center;">
                    <div class="pt-3 col-6">
                        <label for="Direccion" class="form-label">Direccion</label>
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Direccion", @required = true } })
                    </div>
                    <div class="pt-3 col-2">
                        <label for="Piso" class="form-label">Piso</label>
                        <input type="tel" class="form-control" id="Piso" placeholder="XX" required>
                        <div class="invalid-feedback">
                            Por Favor ingrese un numero de piso valido.
                        </div>
                    </div>
                    <div class="pt-3 col-2">
                        <label for="Dpto" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="Dpto" placeholder="XX" required>
                    </div>
                    <div class="pt-3 col-sm-4">
                        <label for="FechaTurno" class="form-label">Fecha Turno</label>
                        <input type="date" class="form-control" id="FechaTurno" required />
                    </div>
                    <div class="pt-3 col-sm-4">
                        <label for="HoraTurno" class="form-label">Hora Turno</label>
                        @*<input type="time" class="form-control" id="HoraTurno" step="60" required />*@
                    </div>
                    <div class="pt-3 col-sm-6">
                        <label for="Obs" class="form-label">Servicio</label>
                        <div class="dropdown" >
                            <input class="form-control dropdown-toggle" id="myInput" type="text" placeholder="Busque el servicio que desea contratar.." data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu" aria-labelledby="myInput" style="width: 100%; max-height: 240px; overflow-y: auto;">
                                <li class="dropdown-header">Computacion</li>
                                <li><a class="dropdown-item" href="#">Service de computacion</a></li>
                                <li><a class="dropdown-item" href="#">Instalacion de impresora</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-header">Electricidad</li>
                                <li><a class="dropdown-item" href="#">Salta la termina de mi casa y no se porque</a></li>
                                <li><a class="dropdown-item" href="#">Cambio de aplique</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-header">Inteligencia Artificial</li>
                                <li><a class="dropdown-item" href="#">Curso y capacitacion</a></li>
                                <li><a class="dropdown-item" href="#">Explicacion de uso</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-3 col-sm-6">
                        <label for="Obs" class="form-label">Observacion</label>
                        <textarea class="form-text" cols="90" rows="4" id="Obs" style="resize:none;"></textarea>
                    </div>
                    <div class="pt-3 col-sm-4" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                        <i class="btn btn-primary" onclick="ValidaDatos()">Agregar</i>
                    </div>
                </div>
            </div>

        </main>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $(".dropdown-menu").on("click", ".dropdown-item", function () {
            var selectedText = $(this).text();
            $("#myInput").val(selectedText);
        });

        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();

            if (value.trim() !== '') {
                $(this).dropdown('show');
            }

            $(".dropdown-menu li").each(function () {
                var text = $(this).text().toLowerCase();
                var isVisible = text.indexOf(value) > -1;

                if ($(this).hasClass('dropdown-header')) {
                    $(this).show();
                } else {
                    $(this).toggle(isVisible);
                }
            });
        });
    });

    function ValidaDatos() {
        if (document.getElementById("Direccion").value == '') {
            alert("Debe ingresar una direccion para el turno");
            return false;
        }
    }

</script>
